.board {
  --grid-size: 60px;
  --text-color: var(--button-background-color);
}

.board {
  display: grid;
  margin-top: 16px;
  gap: 5px;
}

.easy-grid {
  grid-template-columns: repeat(7, var(--grid-size));
  grid-template-rows: repeat(8, var(--grid-size));
}

.medium-grid {
  grid-template-columns: repeat(10, var(--grid-size));
  grid-template-rows: repeat(10, var(--grid-size));
}

.hard-grid {
  grid-template-columns: repeat(12, var(--grid-size));
  grid-template-rows: repeat(12, var(--grid-size));
}

.game-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.game-content .error-message {
  color: var(--error-message-color);
}

.game-message-container {
  /* layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.game-state {
  /* shape */
  padding: 40px 120px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 10px 15px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 8px;
  /* text */
  text-align: center;
  color: var(--text-color);
}
