.game-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-state-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
