.board {
  --text-color: var(--button-background-color);
  --cell-size: 60px;
  --easy-grid-columns: 7;
  --easy-grid-rows: 8;
  --medium-grid-columns: 10;
  --medium-grid-rows: 10;
  --hard-grid-columns: 12;
  --hard-grid-rows: 12;
}

.board {
  display: grid;
  /* gap: 5px; */
}

.easy-grid {
  grid-template-columns: repeat(var(--easy-grid-columns), var(--cell-size));
  grid-template-rows: repeat(var(--easy-grid-rows), var(--cell-size));
}

.medium-grid {
  grid-template-columns: repeat(var(--medium-grid-columns), var(--cell-size));
  grid-template-rows: repeat(var(--medium-grid-rows), var(--cell-size));
}

.hard-grid {
  grid-template-columns: repeat(var(--hard-grid-columns), var(--cell-size));
  grid-template-rows: repeat(var(--hard-grid-rows), var(--cell-size));
}

.board-wrapper-easy {
  position: relative;
  width: calc(var(--cell-size) * var(--easy-grid-columns));
  height: calc(var(--cell-size) * var(--easy-grid-rows));
}

.board-wrapper-medium {
  position: relative;
  width: calc(var(--cell-size) * var(--medium-grid-columns));
  height: calc(var(--cell-size) * var(--medium-grid-rows));
}

.board-wrapper-hard {
  position: relative;
  width: calc(var(--cell-size) * var(--hard-grid-columns));
  height: calc(var(--cell-size) * var(--hard-grid-rows));
}

.game-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.game-content .error-message {
  color: var(--error-message-color);
}

.game-message-container {
  /* layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.game-state {
  /* shape */
  padding: 40px 120px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 10px 15px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 8px;
  /* text */
  text-align: center;
  color: var(--text-color);
}
