.game-content {
  --text-color: var(--button-background-color);
  --cell-size: 60px;
  --cell-size-easy: var(--cell-size);
  --cell-size-medium: var(--cell-size);
  --cell-size-hard: var(--cell-size);
  --tile-font-size: 48px;
  --easy-grid-columns: 7;
  --easy-grid-rows: 8;
  --medium-grid-columns: 10;
  --medium-grid-rows: 10;
  --hard-grid-columns: 12;
  --hard-grid-rows: 12;
  --background-color: white;
  --board-padding: 10px;
}

.board {
  display: grid;
  /* text */
  text-align: center;
  color: var(--text-color);
  /* gap: 5px; */
  /* shape */
  padding: var(--board-padding);
  background: var(--background-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 10px 15px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 8px;
}

.easy-grid {
  grid-template-columns: repeat(
    var(--easy-grid-columns),
    var(--cell-size-easy)
  );
  grid-template-rows: repeat(var(--easy-grid-rows), var(--cell-size-easy));
}

.medium-grid {
  grid-template-columns: repeat(
    var(--medium-grid-columns),
    var(--cell-size-medium)
  );
  grid-template-rows: repeat(var(--medium-grid-rows), var(--cell-size-medium));
}

.hard-grid {
  grid-template-columns: repeat(
    var(--hard-grid-columns),
    var(--cell-size-hard)
  );
  grid-template-rows: repeat(var(--hard-grid-rows), var(--cell-size-hard));
}

.board-wrapper-easy {
  position: relative;
}

.board-wrapper-medium {
  position: relative;
}

.board-wrapper-hard {
  position: relative;
}

.game-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.game-content .error-message {
  color: var(--error-message-color);
}

.game-message-container {
  /* layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.game-state {
  /* shape */
  padding: 40px 120px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 10px 15px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 8px;
  /* text */
  text-align: center;
  color: var(--text-color);
}

@media only screen and (max-width: 600px) {
  .game-state {
    padding: 20px 40px;
  }

  .game-state.win {
    max-width: 90%;
  }

  .game-state.lose {
    max-width: 90%;
  }

  .game-content {
    --cell-size: 36px;
    --cell-size-easy: calc(var(--cell-size) * 1.4);
    --cell-size-medium: var(--cell-size);
    --cell-size-hard: calc(var(--cell-size) * 0.83);
    --board-padding: 2px;
  }
}


.game-footer {
  display: flex;
  justify-content: center;
  padding: 20px;
  text-transform: capitalize;
}