.path-layer {
  padding: var(--board-padding);
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 2 * var(--board-padding));
  height: calc(100% - 2 * var(--board-padding));
  z-index: 2;
  pointer-events: none;
}
