.item-actions {
  display: flex;
  justify-content: center; 
  align-items: center;
}

.join-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* shape */
  padding: 6px 18px;
  background: var(--button-background-color);
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
  /* text */
  color: var(--button-text-color);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}

.join-button:disabled {
  cursor: default;
  opacity: 0.4;
}