.room-list {
  --table-header-background-color: var(--button-background-color);
  --table-header-text-color: var(--button-text-color);
  --table-row-hover-color: #ddd;
  --table-row-background-color-1: white;
  --table-row-background-color-2: #f2f2f2;
  --table-text-color: var(--button-background-color);
}

.room-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

#rooms {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  border-radius: 4px;
}

#rooms td,
#rooms th {
  border: 1px #ddd;
  padding: 8px;
  color: var(--table-text-color);
}

/* table with rounded border */
#rooms th:first-child {
  border-top-left-radius: 4px;
}

#rooms th:last-child{
  border-top-right-radius: 4px;
}

#rooms tr:last-child td:first-child {
  border-bottom-left-radius: 4px;
}

#rooms tr:last-child td:last-child {
  border-bottom-right-radius: 4px;
}

#rooms th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: var(--table-header-background-color);
  color: var(--table-header-text-color);
  text-transform: uppercase;
}

#rooms tr:nth-child(odd) {
  background-color: var(--table-row-background-color-1);
}

#rooms tr:nth-child(even) {
  background-color: var(--table-row-background-color-2);
}

#rooms tr:hover {
  background-color: var(--table-row-hover-color);
}
