.rooms {
  margin: 40px;
}

.new-room-button {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 8px;
  /* shape */
  padding: 12px 12px;
  background: #000000;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
  /* text */
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}
