.rooms {
  margin: 40px;
}

.rooms-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.room-container .error-message {
  color: var(--error-message-color);
  text-align: center;
}

.new-room-button {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 8px;
  /* shape */
  padding: 12px 12px;
  background-color: var(--button-background-color);
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
  /* text */
  color: var(--button-text-color);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}
