.main-page-container {
  --title-color: var(--button-background-color);
  --focus-color: var(--button-background-color);
  --icon-color: #9ca3af;
  --label-color: #374151;
}


.main-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
}

.main-page-container h1 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  color: var(--title-color);
}

.input-container {
  display: flex;
  flex-direction: column;
  padding: 32px;
  align-content: flex-start;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 10px 15px rgba(0, 0, 0, 0.1);
  width: 384px;
  box-sizing: border-box;
  border-radius: 8px;
}

.input-container form {
  width: 100%;
}

.label-username {
  display: block;
  margin-bottom: 8px;
  /* text */
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--label-color);
}

.input-field {
  display: flex;
  align-items: center;
  position: relative;
}

.input-field-icon {
  color: var(--icon-color);
  position: absolute;
  left: 12px;
}

#username {
  padding: 12px 12px 12px 40px;
  background: white;
  box-sizing: border-box;
  border: 1px solid #d1d5db;
  width: 100%;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

#username:focus {
  border-width: 1px;
  border-color: var(--focus-color);
  outline: 1px solid var(--focus-color);
}

.main-page-container .error-message-container {
  height: 24px;
  overflow: hidden;
}

.main-page-container .error-message-container.show {
  height: 50px;
}

.main-page-container .error-message {
  color: var(--error-message-color);
  font-size: 12px;
  margin-top: 5px;
}

.start-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  padding: 12px 0;
  border-radius: 4px;
  border: 0px;
  cursor: pointer;
  background: var(--button-background-color);
  width: 100%;
  /* text */
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: var(--button-text-color);
}