.game-header {
  --title-color: var(--button-background-color);
  --header-background-color: white;
}

.game-header {
  /* shape */
  padding: 5px 0px;
  background: var(--header-background-color);
  box-sizing: border-box;
  border-color: #b8b8c1;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
}

.game-header-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.game-header-content h2 {
  text-align: center;
  grid-column: 2;
  color: var(--title-color);
}

.game-header-content button {
  /* layout in */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  /* shape */
  padding: 12px 12px;
  background: var(--button-background-color);
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
  /* text */
  color: var(--button-text-color);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}

.signout-button {
  /* layout out */
  width: auto;
  justify-self: flex-end;
  align-self: center;
  margin: 0px 24px;
}

.back-button {
  /* layout out */
  width: auto;
  justify-self: flex-start;
  align-self: center;
  margin: 0px 24px;
}
