.game-header {
  display: flex;
  justify-content: center;
  /* shape */
  padding: 5px 5px;
  background: #ffffff;
  box-sizing: border-box;
  border-color: #b8b8c1;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
}

.game-header-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.signout-button {
  /* shape */
  padding: 12px 12px;
  background: #000000;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
  /* text */
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}
